.main-viaje {
  width: 100%;
  overflow: hidden; }
  .main-viaje .viaje {
    width: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "titulo titulo" "tabla promo";
    justify-content: center;
    grid-gap: 1rem;
    text-align: center; }
    .main-viaje .viaje__titulo {
      grid-area: titulo;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      align-items: center;
      font-family: Georgia, "Times New Roman", Times, serif; }
    .main-viaje .viaje__h1 {
      text-align: center;
      color: blue;
      margin-bottom: 5%; }
    .main-viaje .viaje__foto {
      width: 600px;
      margin: 0%; }
    .main-viaje .viaje__descuento {
      grid-area: promo; }
      .main-viaje .viaje__descuento img {
        width: 450px;
        margin-bottom: 5%; }
    .main-viaje .viaje .contenedor__destinos {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: tabla;
      width: 100%;
      align-content: center;
      margin-left: 10%; }
      .main-viaje .viaje .contenedor__destinos .contenedor__cabecera {
        margin: 2rem auto; }
        .main-viaje .viaje .contenedor__destinos .contenedor__cabecera img {
          width: 400px; }

@media (max-width: 1200px) {
  .main-viaje .viaje {
    grid-template-areas: "titulo titulo" "tabla tabla" "promo promo";
    grid-template-columns: 50% 50%; }
    .main-viaje .viaje .contenedor__destinos {
      margin: 0%; } }

@media (max-width: 740px) {
  .main-viaje .viaje .contenedor__destinos .contenedor__cabecera img {
    width: 250px; }
  .main-viaje .viaje__descuento img {
    width: 250px; }
  .main-viaje .viaje__foto {
    width: 300px;
    margin: 0%; } }

.nosotros__body .nosotros__info .nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%; }
  .nosotros__body .nosotros__info .nosotros .nosotros__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%; }
    .nosotros__body .nosotros__info .nosotros .nosotros__div .nosotros__h1 {
      text-align: center;
      color: blue;
      margin-top: 15%;
      font-family: Georgia, "Times New Roman", Times, serif; }
    .nosotros__body .nosotros__info .nosotros .nosotros__div .nosotros__foto {
      width: 600px;
      margin-bottom: 5%;
      margin-top: 5%; }
  .nosotros__body .nosotros__info .nosotros .nosotros__texto {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;
    width: 70%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 10px;
    padding: 2rem 1rem; }

@media (max-width: 630px) {
  .nosotros__info {
    margin-top: 25%; }
    .nosotros__info .nosotros .nosotros__div {
      margin-top: 25%; }
      .nosotros__info .nosotros .nosotros__div .nosotros__h1 {
        margin-top: 20%;
        margin-bottom: 10%; }
      .nosotros__info .nosotros .nosotros__div .nosotros__foto {
        width: 250px !important; }
    .nosotros__info .nosotros__texto {
      font-size: x-small; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * .body main {
    overflow: hidden; }
  * .body footer {
    overflow: hidden; }

.contacto-main {
  width: 100%;
  overflow: hidden; }
  .contacto-main .contacto {
    margin-top: 10%; }
    .contacto-main .contacto__h1 {
      text-align: center;
      color: blue;
      margin-top: 15%;
      font-family: Georgia, "Times New Roman", Times, serif; }
    .contacto-main .contacto__form {
      margin-left: auto;
      margin-right: auto;
      padding: 5%;
      width: 60%;
      border: 4px solid rgba(255, 255, 255, 0.521);
      background-color: rgba(255, 255, 255, 0.356);
      margin-top: 4rem;
      margin-bottom: 2rem;
      border-radius: 10px; }

@media (max-width: 576px) {
  .contacto-main {
    margin-top: 25%; } }

.flota__main .flota {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .flota__main .flota .titulo__flota {
    color: blue;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: Georgia, "Times New Roman", Times, serif; }
  .flota__main .flota .flota__container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 10px;
    padding: 2rem 0;
    gap: 2rem; }
    .flota__main .flota .flota__container p {
      margin: 2rem 0; }
  .flota__main .flota .alert-primary {
    margin-top: 5%; }
    .flota__main .flota .alert-primary svg {
      max-width: 20px; }

@media (max-width: 780px) {
  .flota__main .flota .titulo__flota {
    margin-top: 32%; }
  .flota__main .flota .flota__container img {
    width: 100%; } }

body {
  background-image: url(https://www.necochea.gov.ar/wp-content/uploads/2017/09/FOTO-clima-7.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3434a7; }
  body .header {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    body .header .navbar {
      height: 6rem; }
      body .header .navbar__navbar img {
        width: 220px;
        position: absolute; }
      body .header .navbar .offcanvas-body {
        background-color: black; }
        body .header .navbar .offcanvas-body ul {
          list-style-type: none;
          text-align: start; }
          body .header .navbar .offcanvas-body ul li {
            display: inline-block; }
            body .header .navbar .offcanvas-body ul li a {
              color: white;
              font-weight: bold;
              text-decoration: none;
              display: block;
              padding: 13px 26px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.main .contenido {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .main .contenido .conjunto {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main .contenido .conjunto__titulo {
      color: blue;
      text-align: center;
      background-color: none;
      margin-top: 15%;
      margin-bottom: 5%;
      font-family: Georgia, "Times New Roman", Times, serif; }
    .main .contenido .conjunto__enlace .contenido__boton_div {
      height: 50px;
      padding-top: 15px;
      margin-bottom: 5%;
      margin-top: 5%;
      margin: auto;
      width: 200px; }
      .main .contenido .conjunto__enlace .contenido__boton_div .contenido__boton:hover {
        background-color: #03036e; }
      .main .contenido .conjunto__enlace .contenido__boton_div .contenido__boton {
        color: white;
        text-align: center;
        background-color: blue;
        border: 1px solid blue;
        width: 200px;
        height: 50px;
        padding-top: 15px;
        margin-bottom: 5%;
        margin-top: 5%;
        margin: auto; }
  .main .contenido .container_de_fotos {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 10px;
    padding: 2rem 0;
    margin-bottom: 5%;
    gap: 4rem; }
    .main .contenido .container_de_fotos .fotos_inicio #forum {
      width: 500px;
      height: 400px;
      padding: 2rem 0; }
    .main .contenido .container_de_fotos .fotos_inicio #skyteam {
      width: 500px;
      height: 400px;
      padding: 2rem 0; }
    .main .contenido .container_de_fotos .fotos_inicio #asistente {
      width: 500px;
      height: 400px;
      padding: 2rem 0; }
    .main .contenido .container_de_fotos .fotos_inicio #business {
      width: 500px;
      height: 400px;
      padding: 2rem 0; }
    .main .contenido .container_de_fotos .fotos_inicio img {
      width: 100%; }

.footer {
  background-color: white;
  display: grid;
  grid-template-areas: "logo hashtag" "socialnetwork hashtag" "derechos derechos"; }
  .footer__logo {
    grid-area: logo;
    text-align: center;
    margin-top: 5%; }
    .footer__logo img {
      width: 220px; }
  .footer__socialnetwork {
    grid-area: socialnetwork;
    display: flex;
    justify-content: center; }
    .footer__socialnetwork a {
      margin: 2%; }
      .footer__socialnetwork a i {
        font-size: 2rem;
        color: blue; }
  .footer__hashtag {
    grid-area: hashtag;
    margin-top: 2%; }
    .footer__hashtag h2 {
      font-weight: bold;
      padding-left: 20px;
      color: blue; }
    .footer__hashtag p {
      padding-left: 20px;
      color: blue; }
  .footer__derechos {
    grid-area: derechos;
    margin-left: 2rem; }
    .footer__derechos p {
      color: blue; }

@media (max-width: 576px) {
  .header__navbar img {
    width: 170px; }
  .foto_despegue {
    width: 80%; } }

@media (max-width: 815px) {
  body .footer {
    grid-template-areas: "logo logo" "socialnetwork socialnetwork" "hashtag hashtag" "derechos derechos";
    text-align: center; } }
