.contacto-main {

    width: 100%;
    overflow: hidden;


    .contacto {

        margin-top: 10%;

        &__h1 {
            text-align: center;
            color: $colorText;
            margin-top: 15%;

        }


        


        &__form {
            @include form;
        }








    }






}


@media (max-width: 576px) {




    .contacto-main {

        margin-top: 25%;
    }

}