.contacto-main{

width: 100%;
overflow: hidden;


    .contacto{
    
        
       

            

            &__h2 {
                text-align: center;
                color: $colorText;
                margin-top: 40%;
        
            }

        
    
       
    
    
        



    
    }
    

    
    
    
    
    }
       
    
       
    
    
    
    
    