.nosotros__body {

    .nosotros__info {


        .nosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            width: 100%;

            .nosotros__div {

            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 0;
            width: 100%;

                .nosotros__h2 {
                    text-align: center;
                    color: $colorText;
                    margin: 0;}

                .nosotros__foto {
                    width: 600px;
                    margin-left: 650px;
                    margin-bottom: 5%;
                    margin-top: 5%;
                }
            }


            .nosotros__texto{
                font-size: large;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: $colorText;
                text-align: center;

            }




        }






    }







}




