@import "variables";
@import "_operator.scss";
@import "_viajes.scss";
@import "_nosotros.scss";
@import "_normalize.scss";
@import "_contacto.scss";
@import "_flota.scss";







    body {
        background-image: url(https://s1.eestatic.com/2020/06/03/curiosidades/curiosidades_494961313_153077108_1706x960.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #3434a7;

        .header {
            background-color: white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .navbar {
                height: 6rem;

                &__navbar {

                    img {
                        width: 220px;
                        position: absolute;

                    }

                   






                }

                .offcanvas {

                    &-body {
                        background-color: black;

                        ul {


                            list-style-type: none;
                            text-align: start;

                            li {
                                display: inline-block;



                                a {
                                    color: white;
                                    font-weight: bold;
                                    text-decoration: none;
                                    display: block;
                                    padding: 13px 26px;
                                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                }

                            }

                        }

                    }


                }


            }
        }

        .main {
       
            .contenido {

                .conjunto {
                    height: 60vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &__titulo {
                        color: $colorText;
                        text-align: center;
                        background-color: none;
                        margin-top: 15%;
                        margin-bottom: 5%;
                    }


                    &__enlace {

                        .contenido__boton_div {
                            height: 50px;
                            padding-top: 15px;
                            margin-bottom: 5%;
                            margin-top: 5%;
                            margin: auto;
                            width: 200px;


                            .contenido__boton:hover {
                                background-color: #03036e;
                            }

                            .contenido__boton {
                                color: white;
                                text-align: center;
                                background-color: blue;
                                border: 1px solid blue;
                                width: 200px;
                                height: 50px;
                                padding-top: 15px;
                                margin-bottom: 5%;
                                margin-top: 5%;
                                margin: auto;
                            }


                        }




                    }



                }

                .foto-forum {
                    width: 100%;
                    margin-bottom: 15%;

                    .foto_despegue {
                        width: 50%;
                        margin-left: 25%;
                        display: flex;
                        justify-content: center;
                        
                    }


                }



            }



        }


      .footer{

        background-color: white;
        display: grid;
        grid-template-areas: "logo hashtag"
        "socialnetwork hashtag"
        "derechos derechos";

        &__logo{

            grid-area: logo;
           text-align: center;
           margin-top: 5%;
          img{
            width: 220px;
          } 
        }

        &__socialnetwork{
            grid-area: socialnetwork;
            display: flex;
            justify-content: center;
            a{
                margin: 2%;
                i{
                    font-size: 2rem;
                    color: $colorText;
                    

                }
            }
        }

        &__hashtag{
            grid-area: hashtag;
            margin-top: 2%;

            h2{
                font-weight: bold;
                padding-left: 20px;
                color: $colorText;
            }
    
            p{
                padding-left: 20px;
                color: $colorText;
            }
        }

    

        &__derechos{
            grid-area: derechos;
           margin-left: 2rem;

           p{
            color: $colorText;
            
           }


        }

       




      }



    }
   

    @media (max-width: 576px) {
        .header__navbar img {
            width: 170px;
        }




        .foto_despegue {
            width: 80%;

        }
  
    }

    @media (max-width: 815px){
        body{

        
        .footer{
            grid-template-areas: "logo logo"
            "socialnetwork socialnetwork"
            "hashtag hashtag"
            "derechos derechos"
            ;
            text-align: center;

           
            
            
        }
    }
    }
